<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/loading.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/about/aboutme.css">
    <link rel="stylesheet" href="../assets/css/about/my-education.css">
    <link rel="stylesheet" href="../assets/css/about/myskills.css">
    <link rel="stylesheet" href="../assets/css/projects/myProjects.css">
    <link rel="stylesheet" href="../assets/css/contact/contact.css">
    <link rel="stylesheet" href="../assets/css/sun-mode.css">
    <title>Ülvi Abbaslı</title>
</head>
<body>
     <div id="loading">
        <div class="loader"></div>
        <p>Loading. . .</p>
    </div>  
    <header>
        <div class="container">
            <div class="icons" data-aos-duration="2000" data-aos="fade-right">
                <!-- <div onclick="sound1.play()" class="night-sun icon"><i  class="fa-solid fa-moon"></i></div> -->
                <div class="header-icon icon"><a href="https://github.com/UlviAsov?tab=repositories" target="_blank"><i class="fa-brands fa-github"></i></a></div>
                <div class="header-icon icon"><a href="https://wa.me/+994559924824" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></div>
                <div class="header-icon icon"><a href="https://www.linkedin.com/in/%C3%BClvi-abbasl%C4%B1-b80832297/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></div>
            </div>
            <div class="typeWrite" data-aos-duration="2000" data-aos="fade-down">
                <h1>
                    Hello <br>
                    <div class="type-write">
                        <span class="iam">I Am</span>
                        <span 
                        class="typewrite" 
                        data-period="2000" 
                        data-type='["Developer","Ülvi Abbaslı","Freelancer"]'></span>
                    </div>
                </h1>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li data-aos="flip-up" data-aos-duration="2000"><button  class="aboutBtn menu-btn">About</button></li>
                        <li data-aos="flip-left" data-aos-duration="2000"><button  class="projectBtn menu-btn">Projects</button></li>
                        <li data-aos="flip-down" data-aos-duration="2000"><button  class="contactBtn menu-btn">Contact</button></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div id="about">
            <div class="arrows">
                <div class="previous">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </div>
            </div>
            <section class="aboutAndServices">
                <div class="container">
                    <div class="about-me">
                        <div class="title">
                            <h2>About Me</h2>
                            <div class="line"></div>
                        </div>
                        <div class="aboutme-content">
                            <h3>Hello! I’m Abbaslı Ülvi.</h3>
                            <p>Frond-end developer from Azerbaijan, Baku. I have rich experience in the field of front end development. I am constantly improving my knowledge in this field. My goal is to become the strongest programmer in my country in the future.</p>
                            <span>AGE . . . . 21</span>
                            <span>RESIDENCE . . . . Azerbaijan</span>
                            <span>ADRESS . . . . Azerbaijan, Baku</span>
                        </div>
                    </div>
                    <div class="my-services">
                        <div class="title">
                            <h2>My Services</h2>
                            <div class="line"></div>
                        </div>
                        <div class="icon">
                            <i class="fa-solid fa-code"></i>
                        </div>
                        <div class="myservices-content">
                            <h3>Front-end</h3>
                            <p>Modern and mobile-ready website that will help you reach all of your marketing.</p>
                        </div>
                    </div>
                </div>
                
            </section>
            <section class="my-education">
                <div class="title">
                    <h2>Education</h2>
                    <div class="line"></div>
                </div>
                <div class="container">
                    <div class="edu">
                        <span class="time">2019 - 2023</span>
                        <h3>National Aviation Academy</h3>
                        <span class="adress">Baku</span>
                        <p>I studied System engineering at the National Aviation Academy between 2019 and 2023. During this period of study, I had an internship at the Aerospace Agency and DATUM LLC.</p>
                    </div>
                    <div class="edu">
                        <span class="time">2021 - 2022</span>
                        <h3>Code Academy</h3>
                        <span class="adress">Baku</span>
                        <p>I completed the full stack web development course at the Code Academy course, and in the end I got a diploma by building a final project.</p>
                    </div>
                    <div class="edu">
                        <span class="time">2023</span>
                        <h3>Yup Technology</h3>
                        <span class="adress">Baku</span>
                        <p>Here I completed a bootcamp to become a professional in the Front End development.</p>
                    </div>
                </div>
            </section>
            <section class="skills">
                <div class="title">
                    <h2>My Skills</h2>
                    <div class="line"></div>
                </div>
                <div class="mySkills">
                    <div class="skill">
                        <h4><i class="fa-brands fa-html5"></i> Html</h4>
                        <div class="container">
                            <div class="progress html"><span>80%</span></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4><i class="fa-brands fa-css3"></i> CSS</h4>
                        <div class="container">
                            <div class="progress css"><span>90%</span></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4><i class="fa-brands fa-js"></i> Javascript</h4>
                        <div class="container">
                            <div class="progress js"><span>70%</span></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4><i class="fa-brands fa-sass"></i> Sass</h4>
                        <div class="container">
                            <div class="progress sass"><span>50%</span></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4><i class="fa-brands fa-bootstrap"></i> Bootstrap</h4>
                        <div class="container">
                            <div class="progress bootstrap"><span>80%</span></div>
                        </div>
                    </div>
                    <div class="skill">
                        <h4><i class="fa-brands fa-react"></i> React</h4>
                        <div class="container">
                            <div class="progress react"><span>60%</span></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div id="projects">
            <div class="arrows">
                <div class="previousProject">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </div>
            </div>
            <div id="works">
                <div class="title">
                    <h2>Projects</h2>
                    <div class="line"></div>
                </div>
                <div class="projects">
                    <div class="items">
                        <div class="item">
                            <img src="../assets/img/projects-img/rps-img.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/RockPaperScissorGame"><h3>Rock Paper Scissor Game</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/fitness-img.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/FitnessSite-nonresponsive"><h3>Fitness Site</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/bookstore-img.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/BookStore-nonresponsive"><h3>Book Store Site</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/electronikWatch-img.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/Elektron-Saat"><h3>Elektronic Watch</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/newsSite-bg.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/News-Site"><h3>News Site</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/freelancer-img.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/Portfolio"><h3>Freelancer</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/hexcode-img.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/HexColor"><h3>Hexcode</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/musicPlayer-img.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/MusicPlayer"><h3>Music Player</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/quiz-img.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/QuizGame"><h3>Quiz</h3></a>
                        </div>
                        <div class="item">
                            <img src="../assets/img/projects-img/films-wallpaper.jpg" alt="">
                            <a target="_blank" href="https://github.com/UlviAsov/SimpleFilmSite"><h3>Simple Film Site</h3></a>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>

        <div id="contact">
            <div class="arrows">
                <div class="previousContact">
                    <i class="fa-solid fa-arrow-left-long"></i>
                </div>
               
            </div>
            <div class="contactWithMe">
                <div class="title">
                    <h2>Contact Us</h2>
                    <div class="line"></div>
                </div>
                <div class="container">
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194473.52376467665!2d49.69015140040316!3d40.39447551254762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2zQmFrxLE!5e0!3m2!1saz!2saz!4v1696337608725!5m2!1saz!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="form-fluid">
                        <form action="">
                            <div class="input-fluid">
                                <label for="">Name: </label>
                                <input type="text">
                            </div>
                            <div class="input-fluid">
                                <label for="">Email: </label>
                                <input type="text">
                            </div>
                            <div class="input-fluid">
                                <label for="">Message: </label>
                                <textarea name="" id="" cols="30" rows="10"></textarea>
                            </div>
                            <button>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="contact-items">
                <div class="items">
                    <div class="item">
                        <i class="fa-solid fa-envelope fa-4x"></i>
                        <h3>Email</h3>
                        <span>ulvi3457abbasli@gmail.com</span>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-phone fa-4x"></i>
                        <h3>Telephone</h3>
                        <span>(+994) 055-992-48-24</span>
                    </div>
                    <div class="item">
                        <i class="fa-solid fa-location-dot fa-4x"></i>
                        <h3>Address</h3>
                        <span>Azerbaijan, Baku</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
   

    <script src="../assets/js/sun-nightmode.js"></script>
    <script src="../assets/js/sound.js"></script>
    <script src="../assets/js/clickEvent.js"></script> 
    <script src="../assets/js/loading.js"></script> 
    <script src="../assets/js/aboutBlock.js"></script>
    <script src="../assets/js/previousAbout.js"></script>
    <script src="../assets/js/projectBlock.js"></script>
    <script src="../assets/js/previousProjects.js"></script>
    <script src="../assets/js/contactBlock.js"></script>
    <script src="../assets/js/previousContact.js"></script>
    <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script> -->
    <script src="../assets/js/type-writer.js"></script>
</body>
</html>